@charset "UTF-8";
/* CSS Document */

/* -------------------------------------------------------------------------- */
/* SIZEMEK - typically, we do not mess with this section
/* -------------------------------------------------------------------------- */
body, body * {
    vertical-align: baseline;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
}

/* Div layer for the entire banner. */
#container_dc {
    position: absolute;
    width: calc({{ cookiecutter.width }}px - 2px);
    height: calc({{ cookiecutter.height }}px - 2px);
    border: #9b9b9b 1px solid;
    top: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    display:none;
}

#content_dc {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

/* Invisible button for background clickthrough. */
#background_exit_dc {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 400;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

/* -------------------------------------------------------------------------- */

/* Your ad styles here */

#bg {
    background: url('../images/bg.jpg') no-repeat;
    width: 100%;
    height: 100%;
}

#ball {
    background: url('../images/ball.png') no-repeat;
    width: 161px;
    height: 161px;
    position: absolute;
    top: 70px;
    left: 69px;
}
#shadow {
    background: url('../images/shadow.png') no-repeat;
    width: 135px;
    height: 37px;
    position: absolute;
    top: 213px;
    left: 77px;
}

#text1 {
    background: url('../images/text1.png') no-repeat;
    width: 162px;
    height: 14px;
    position: absolute;
    top: 13px;
    left: 69px;
}

#text2 {
    background: url('../images/text2.png') no-repeat;
    width: 231px;
    height: 24px;
    position: absolute;
    top: 34px;
    left: 35px;
}

#text3 {
    background: url('../images/text3.png') no-repeat;
    width: 196px;
    height: 42px;
    position: absolute;
    top: 14px;
    left: 52px;
}

#divline {
    background: url('../images/divline.png') no-repeat;
    width: 1px;
    height: 32px;
    position: absolute;
    top: 18px;
    left: 167px;
}

#logo {
    background: url('../images/logo.png') no-repeat;
    width: 138px;
    height: 39px;
    position: absolute;
    top: 18px;
    left: 15px;
}

#cta {
    background: url('../images/cta.png') no-repeat;
    width: 101px;
    height: 32px;
    position: absolute;
    top: 18px;
    right: 14px;
    overflow: hidden;
}

#cta span {
    display: block;
    background: url('../images/shine.png') -150px 0px no-repeat;
    height: 100%;
    width: 100%;
    opacity: .5;

    // animate CSS changes
    // transition-property: all;
    // transition-duration: .8s;
}

#cta.active span {
    background-position: 150px 0px;
}
